{% extends 'main.twig' %}

{% block title %}Guestbook | {{ parent() }}{% endblock %}

{% block page %}
    {% include 'common/breadcrumbs.twig' with {
        'title': 'Guestbook',
    } %}

    <section class="section mt-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 product-review-form">
                    <h4 class="mb-2">Write to us</h4>
                    <p>
                        The opinion will be sent to the administration, and after verification by the moderator, it will appear on this page.<br/>
                        If you had a question, then the answer will also be given, we will make every effort to answer you as quickly as possible.
                    </p>

                    <form method="post" class="contact-form pt-4" data-grecaptcha>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="single-form form-default">
                                    <label>Your name (*)</label>
                                    <div class="form-input form">
                                        {% include 'mixin/form.twig' with {
                                            'type': 'text',
                                            'name': 'name',
                                            'args': {
                                                'required': true,
                                                'placeholder': 'Your name'
                                            }
                                        } %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="single-form form-default">
                                    <label>Your E-Mail (*)</label>
                                    <div class="form-input form">
                                        {% include 'mixin/form.twig' with {
                                            'type': 'email',
                                            'name': 'email',
                                            'args': {
                                                'required': true,
                                                'placeholder': 'Your E-Mail (*)'
                                            }
                                        } %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single-form form-default">
                                    <label>Your message (*)</label>
                                    {% include 'mixin/form.twig' with {
                                        'type': 'textarea',
                                        'name': 'message',
                                        'args': {
                                            'required': true,
                                            'placeholder': 'Your message or feedback or suggestion or wish.. *',
                                            'style': 'height: 105px; margin-bottom: 16px;',
                                        }
                                    } %}
                                </div>
                            </div>
                            <div class="col-md-12">

                                    <div class="form-group pull-right">
                                        <button class="btn btn-theme" type="submit">Submit Review</button>
                                    </div>

                            </div>
                        </div>
                    </form>
                </div>

                {% if messages.count() %}
                    <section class="review-area review-grid-area mb-40 mt-50">
                    <div class="container">
                        <h3 class="mb-2 text-center">Reviews</h3>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="review-content-area">
                                    <div class="product-review">
                                        {% for item in messages.sortByDesc('date') %}
                                            <div class="review-content">
                                                <div class="review-item">
                                                    <h4 class="title">{{ item.name }}</h4>
                                                    <h5 class="review-date"><span>{{ item.name }}</span> on <span>{{ item.date|df }}</span></h5>
                                                    <p>{{ item.message|raw|nl2br }}</p>
                                                    <p class="text-end ">{{ item.response|raw|nl2br }}</p>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
