{% extends 'main.twig' %}

{% block title %}User profile | {{ parent() }}{% endblock %}

{% block page %}
    {% include 'common/breadcrumbs.twig' with {
        'title': 'Profile'
    } %}

    <!-- Start Account Area -->

    <section class="my-account-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title-style2">
                        <h5 class="title">My account</h5>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="myaccount-page-wrapper">
                        <div class="row">
                            <div class="col-lg-3 col-md-4">
                                <nav>
                                    <div class="myaccount-tab-menu nav nav-tabs" id="nav-tab" role="tablist">
                                        <button class="nav-link active" id="dashboad-tab" data-bs-toggle="tab"
                                                data-bs-target="#dashboad" type="button" role="tab"
                                                aria-controls="dashboad" aria-selected="true">Dashboard
                                        </button>
                                        <button class="nav-link" id="orders-tab" data-bs-toggle="tab"
                                                data-bs-target="#orders" type="button" role="tab" aria-controls="orders"
                                                aria-selected="false"> Orders
                                        </button>
                                        <button class="nav-link" id="download-tab" data-bs-toggle="tab"
                                                data-bs-target="#download" type="button" role="tab"
                                                aria-controls="download" aria-selected="false">Group
                                        </button>
                                        <button class="nav-link" id="payment-method-tab" data-bs-toggle="tab"
                                                data-bs-target="#payment-method" type="button" role="tab"
                                                aria-controls="payment-method" aria-selected="false">Token
                                        </button>
                                        <button class="nav-link" id="account-info-tab" data-bs-toggle="tab"
                                                data-bs-target="#account-info" type="button" role="tab"
                                                aria-controls="account-info" aria-selected="false">Account Details
                                        </button>
                                        <button class="nav-link" onclick="window.location.href='/user/logout'"
                                                type="button">Logout
                                        </button>
                                    </div>
                                </nav>
                            </div>
                            <div class="col-lg-9 col-md-8">
                                <div class="tab-content" id="nav-tabContent">
                                    <div class="tab-pane fade show active" id="dashboad" role="tabpanel"
                                         aria-labelledby="dashboad-tab">
                                        <div class="myaccount-content">
                                            <h3>Dashboard</h3>
                                            <div class="welcome">
                                                <p>Hello, <strong>{{ user.firstname }}</strong> (If Not
                                                    <strong>{{ user.firstname }} !</strong><a href="/user/logout"
                                                                                              class="logout"> Logout</a>)
                                                </p>
                                            </div>
                                            <p class="mb-0">From your account dashboard. you can easily check & view
                                                your recent orders, manage your shipping and billing addresses and edit
                                                your password and account details.</p>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                                        <div class="myaccount-content">
                                            <h3>Orders</h3>
                                            {% if user.orders %}
                                                <div class="myaccount-table table-responsive text-center">
                                                    <table class="table table-bordered">
                                                        <thead class="thead-light">
                                                        <tr>
                                                            <th class="text-center">#</th>
                                                            <th class="text-center">Order date</th>
                                                            <th class="text-center">Shipping date</th>
                                                            <th class="text-center">Count products</th>
                                                            <th class="text-center">Status</th>
                                                            <th class="text-center">Payment</th>
                                                            <th class="text-center">Total</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for order in user.orders %}
                                                            <tr>
                                                                <td>{{ order.serial }}</td>
                                                                <td>{{ order.date|df }}</td>
                                                                <td>{{ order.shipping|df }}</td>
                                                                <td>{{ order.products.count() }}</td>
                                                                <td>{{ order.status.title ?: '&mdash;'|raw }}</td>
                                                                <td>{{ order.payment.title ?: '&mdash;'|raw }}</td>
                                                                <td class="text-nowrap">{{ order.totalSum()|number_format(2, '.', ' ') }}</td>
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="download" role="tabpanel"
                                         aria-labelledby="download-tab">
                                        <div class="myaccount-content">
                                            <h3>Group</h3>
                                            {% if user.group %}
                                                <p class="saved-message"><b>{{ user.group.title }}</b></p>
                                                <p>{{ user.group.description|raw }}</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="payment-method" role="tabpanel"
                                         aria-labelledby="payment-method-tab">
                                        <div class="myaccount-content">
                                            {% if user.tokens %}
                                                <h6 class="title collapsed" data-bs-toggle="collapse"
                                                    data-bs-target="#collapse-tokens" aria-expanded="false"
                                                    aria-controls="collapse-tokens">Active sessions</h6>
                                                <section class="checkout-steps-form-content collapse"
                                                         id="collapse-tokens" aria-labelledby="headingFour"
                                                         data-bs-parent="#accordion">
                                                    {% for token in user.tokens %}
                                                        <div class="row pt-4">
                                                            <div class="col-8"><b>{{ token.comment }}</b></div>
                                                            <div class="col-4 text-end">{{ token.ip }}</div>
                                                            <div class="col-12">{{ token.agent }}</div>
                                                            <div class="col-6">{{ token.date|df }}</div>
                                                            <div class="col-6 text-end">
                                                                <a class="btn btn-secondary"
                                                                   href="/user/revoke?uuid={{ token.uuid }}">Close
                                                                    session</a>
                                                            </div>
                                                        </div>
                                                    {% endfor %}

                                                    <div class="row pt-4">
                                                        <a class="btn btn-danger" href="/user/revoke">Close other
                                                            sessions</a>
                                                    </div>
                                                </section>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="account-info" role="tabpanel"
                                         aria-labelledby="account-info-tab">
                                        <div class="myaccount-content">
                                            <h3>Account Details</h3>
                                            <div class="account-details-form">
                                                <form method="post" data-grecaptcha>
                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <div class="single-input-item">
                                                                <label for="first-name" class="required">First
                                                                    Name</label>
                                                                {% include 'mixin/form.twig' with {
                                                                    'type': 'text',
                                                                    'name': 'firstname',
                                                                    'args': {
                                                                        'value': user.firstname,
                                                                        'placeholder': 'First Name'
                                                                    }
                                                                } %}
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="single-input-item">
                                                                <label for="last-name" class="required">Last
                                                                    Name</label>
                                                                {% include 'mixin/form.twig' with {
                                                                    'type': 'text',
                                                                    'name': 'lastname',
                                                                    'args': {
                                                                        'value': user.lastname,
                                                                        'placeholder': 'Last Name'
                                                                    }
                                                                } %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <div class="single-input-item">
                                                                <label for="first-name" class="required">Email
                                                                    Address</label>
                                                                {% include 'mixin/form.twig' with {
                                                                    'type': 'email',
                                                                    'name': 'email',
                                                                    'args': {
                                                                        'value': user.email,
                                                                        'placeholder': 'Email Address'
                                                                    }
                                                                } %}
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="single-input-item">
                                                                <label for="last-name" class="required">Phone
                                                                    Number</label>
                                                                {% include 'mixin/form.twig' with {
                                                                    'type': 'tel',
                                                                    'name': 'phone',
                                                                    'args': {
                                                                        'value': user.phone,
                                                                        'placeholder': 'Phone Number',
                                                                    }
                                                                } %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <div class="single-input-item">
                                                                <label for="first-name" class="required">Country</label>
                                                                {% include 'mixin/form.twig' with {
                                                                    'type': 'text',
                                                                    'name': 'country',
                                                                    'args': {
                                                                        'value': user.country,
                                                                        'placeholder': 'Country'
                                                                    }
                                                                } %}
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="single-input-item">
                                                                <label for="last-name" class="required">City</label>
                                                                {% include 'mixin/form.twig' with {
                                                                    'type': 'text',
                                                                    'name': 'city',
                                                                    'args': {
                                                                        'value': user.city,
                                                                        'placeholder': 'City'
                                                                    }
                                                                } %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="single-input-item">
                                                        <label for="email" class="required">Post Code</label>
                                                        {% include 'mixin/form.twig' with {
                                                            'type': 'text',
                                                            'name': 'postcode',
                                                            'args': {
                                                                'value': user.postcode,
                                                                'placeholder': 'Post Code'
                                                            }
                                                        } %}
                                                    </div>
                                                    <div class="single-input-item">
                                                        <label for="email" class="required">Address</label>
                                                        {% include 'mixin/form.twig' with {
                                                            'type': 'textarea',
                                                            'name': 'address',
                                                            'args': {
                                                                'value': user.address,
                                                                'placeholder': 'Address'
                                                            }
                                                        } %}
                                                    </div>
                                                    <fieldset>
                                                        <div class="single-input-item">
                                                            <label for="current-pwd" class="required">Additional</label>
                                                            {% include 'mixin/form.twig' with {
                                                                'type': 'text',
                                                                'name': 'additional',
                                                                'args': {
                                                                    'value': user.additional,
                                                                    'placeholder': 'Additional'
                                                                }
                                                            } %}
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <div class="single-input-item">
                                                                    <label for="new-pwd" class="required">Allow
                                                                        mail</label>
                                                                    {% include 'cup/form.twig' with {
                                                                        'type': 'select',
                                                                        'name': 'allow_mail',
                                                                        'args': {
                                                                            'option': _(['yes', 'no']),
                                                                            'selected': user.allow_mail ? 'yes' : 'no'
                                                                        }
                                                                    } %}
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="single-input-item">
                                                                    <label for="confirm-pwd"
                                                                           class="required">Language</label>
                                                                    {% include 'mixin/form.twig' with {
                                                                        'type': 'text',
                                                                        'name': 'language',
                                                                        'args': {
                                                                            'value': user.language ? user.language :  _language,
                                                                            'placeholder': 'Language',
                                                                            'readonly': true
                                                                        }
                                                                    } %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                    <div class="single-input-item">
                                                        <label for="email" class="required">New Password</label>
                                                        {% include 'mixin/form.twig' with {
                                                            'type': 'text',
                                                            'name': 'password',
                                                            'args': {
                                                                'placeholder': 'Leave blank if you don\'t want to change'
                                                            }
                                                        } %}
                                                    </div>
                                                    <div class="single-input-item">
                                                        <button class="check-btn sqr-btn">Save Changes</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- End Account Area -->

    {# {% include 'user.profile.orders.twig' %} #}
{% endblock %}
